---
import { SITE } from 'astrowind:config';
import Image from './common/Image.astro';
---

<span class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white">
  <Image src="~/assets/images/BYU_monogram_navy.svg" alt={SITE?.name ?? 'Logo'} width="72" height="36" class="inline-block align-middle" />
  <span class="inline-block h-6 border-l border-gray-300 dark:border-gray-600 mx-2 align-middle"></span>
  <span class="align-middle">{SITE?.name}</span>
</span>
